[Desktop Entry]
Version=1.0
Name=SPC-Chrome
Comment=SPC Chrome browser
Exec=/home/laurent/.local/bin/chrome.sh
Icon=/usr/share/icons/HighContrast/256x256/apps/web-browser.png
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
