##### Adding by SPC v{{ version_spc }}
##### secured-pc ##### auteur: L. Delatte, 2024
# libreoffice

[Unit]
Description=Service libreoffice via un pod (integr & param LDE)
Wants=pk-viewer.service
After=pk-viewer.service

[Service]
Type=forking
ExecStart=/usr/bin/podman kube play --replace --network=pmNoneL {{ pods_dir }}/pod-librof.yml
ExecStop=/usr/bin/podman pod rm -f -i pk-librof
Restart=no
TimeoutStartSec=100
TimeoutStopSec=40

[Install]
WantedBy=default.target

##### Added by SPC v{{ version_spc }}
