##### Adding by SPC v{{ version_spc }}
##### secured-pc ##### auteur: L. Delatte, 2024
# for spc-file_change.sh

[Unit]
Description=Service for file permissions management
Wants=pk-viewer.service
After=pk-viewer.service

[Service]
Type=Simple
ExecStart=/usr/local/bin/spc-file_change.sh
ExecStop=/usr/bin/pkill inotifywait
User=root
Restart=no
TimeoutStartSec=160
TimeoutStopSec=50

[Install]
WantedBy=default.target

##### Added by SPC v{{ version_spc }}
